.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.Trash
.bash_history
.bash_sessions
.cache
.cgdb
.cocoapods
.config
.curlrc
.fastlane
.freemind
.gdbinit
.gem
.git
.gitconfig
.irssi
.lesshst
.netrc
.npm
.oh-my-zsh
.oracle_jre_usage
.rediscli_history
.sqlite_history
.ssh
.subversion
.vim
.viminfo
.vue-templates
.zsh-update
.zsh_history
.zshrc
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Playground
Project
Public
VirtualBox VMs
Work
coolchuan
go
.bash_logout
.bashrc
.profile
.rnd
.sudo_as_admin_successful
.zcompdump
.zcompdump-ubuntu-5.2
playground/
software/
.node_repl_history
.cargo/
.multirust
.rustup/
.zprofile
.docker/
.composer/
mac-cli/
.ShadowsocksX/
.mycli-history
.mycli.log
.myclirc
.android/
.wget-hsts
.zcompdump*
.itmstransporter/
.putty/
.yarnrc
.local/
zhaofang/
